@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden bg-black font-sans text-gray;
  }

  strong {
    @apply font-semibold;
  }

  input,
  textarea {
    @apply rounded-[5px] bg-gray-800 py-3 px-7 text-sm leading-5 text-white;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray-100;
  }

  textarea {
    resize: none;
  }
}

@layer components {
  .svg path {
    fill: currentColor;
  }

  .stripes-bg {
    background: linear-gradient(
          to top,
          #000 20%,
          transparent 95%,
          hsla(0, 0%, 0%, 0.3)
        )
        center / cover no-repeat,
      linear-gradient(
          to right,
          transparent calc(100vw / 14 - 2px),
          #404047 calc(100vw / 14 - 1px)
        )
        top left / calc(100vw / 14 - 1px) 1px repeat;
  }
}
